<ul class="exchange_list">
{% for listing in site.data.exchanges %}
  <li class="row exchange_item">
    <div class="col exchange_img">
      <img class="exchange_logo" src="{{ site.baseurl }}{{ site.imageurl.kb }}exchanges/{{ listing.logo }}" />
    </div>
    <div class="col exchange_details">
      <h4>{{ listing.exchange }}</h4>
      <p><a href="{{ listing.url }}" target="_blank">{{ listing.url }}</a></p>
      {% if listing.market == 'both' %}
      <p>Offers markets for trading NBT and NSR.</p>
      {% else %}
      <p>Offers markets for trading {{ listing.market | upcase }}.</p>
      {% endif %}
    </div>
  </li>
{% endfor %}
</ul>
