{% comment %}
  Include javascripts that need to be executed within the document's HEAD tag
{% endcomment %}

{% if site.enforce_ssl %}
<script type="text/javascript">
    var host = "{{ site.enforce_ssl }}";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        window.location.protocol = "https";
</script>
{% endif %}

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'NuNetwork/Nu'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer
