<header class="row site_header">
  <nav class="container nav_top">
    <ul class="col nav_list">
      <li class="nav_item logo">
        <a href="/"><img src="http://placehold.it/173x58/E8117F/FFFFFF/?text=Logo"></a>
      </li>
      {% for menu in site.data.navigation[page.lang].primary %}
      <li class="nav_item"><a href="{{ menu.url }}">{{ menu.title }}</a></li>
      {% endfor %}
    </ul>
    <ul class="col nav_list right">
      <li class="nav_item btn"><a href="">Download Wallet</a></li>
    </ul>
  </nav>
</header>
