<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  {% if page.desc %}
  {% capture description %}{{ page.desc | strip_html }}{% endcapture %}
  {% elsif page.excerpt %}
  {% capture description %}{{ page.excerpt | strip_html | replace: "[[", " ("  | replace: "]]", ")" }}{% endcapture %}
  {% else %}
  {% capture description %}{{ site.description | strip_html }}{% endcapture %}
  {% endif %}
  <meta name="description" content="{{ description | strip_newlines }}" />
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}" />
  {% else %}
  <meta name="keywords" content="nu, nubits, nushares, nbt, nsr, cryptoassets, documentation, docs, knowledge base, kb, faq, support, help, technical resources, tools, resources, services, contact, connect" />
  {% endif %}
  <link href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}" rel="shortcut icon" type="image/x-icon">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  {% include head_scripts.html %}
</head>