{% if include.caption == empty %}
  {% assign caption=' – ' %}
{% else %}
  {% capture cap %} – {{ include.caption }}{% endcapture %}
  {% assign caption=cap %}
{% endif %}

{% if include.alt == empty %}
  {% capture alt %}{{ caption | remove:" – " }} %}{% endcapture %}
{% elsif include.alt %}
  {% assign alt=include.alt %}
{% endif %}

{% if page.layout == 'history' %}
  {% assign imgurl=site.imageurl.history %}
{% else %}
  {% assign imageurl=site.imageurl.kb %}
{% endif %}

<figure>
  <img src="{{ site.baseurl }}{{ imageurl }}{{ include.filename }}" alt="{{ alt }}" >
  <figcaption>Fig %.{{ caption }}.</figcaption>
</figure>
