{% capture location %}{{ page.url | remove_first:'/' | split:'/' | last | replace: '.html', '' }}{% endcapture %}
{% comment %}<script>console.log('location = {{location}}');// for debugging</script>{% endcomment %}

<section class="col nav_left_sidebar">
  <div class="chat_link"><a href="https://gitter.im/NuNetwork/documentation?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge" target="_blank"><img src="https://badges.gitter.im/Join%20Chat.svg"></a></div>
  {% for menu in site.data.navigation[page.lang].doc-sidebar %}
  <h4>{{ menu.heading | upcase }}</h4>
  <ul>
    {% for doc in site.kb %}
      {% capture current_doc %}{{ doc.filename | split: '.' | first }}{% endcapture %}
      {% if doc.nav_heading == menu.heading and current_doc == location %}
        <li class="current"><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
      {% elsif doc.nav_heading == menu.heading %}
        <li class=""><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
      {% endif %}
    {% endfor %}

    {% if menu.heading == 'Getting Started' %}
      {% for link in site.data.navigation[page.lang].getting-started %}
        <li class="ext_res"><a href="{{ link.url }}" target="_blank">{{ link.resource }} <i class="fa fa-external-link" title="External Link"></i></a></li>
      {% endfor %}
    {% endif %}

    {% if menu.heading == 'NuBits' %}
      {% for link in site.data.navigation[page.lang].nubits %}
        <li class="ext_res"><a href="{{ link.url }}" target="_blank">{{ link.resource }} <i class="fa fa-external-link" title="External Link"></i></a></li>
      {% endfor %}
    {% endif %}

    {% if menu.heading == 'NuShares' %}
      {% for link in site.data.navigation[page.lang].nushares %}
        <li class="ext_res"><a href="{{ link.url }}" target="_blank">{{ link.resource }} <i class="fa fa-external-link" title="External Link"></i></a></li>
      {% endfor %}
    {% endif %}

    {% if menu.heading == 'Technical Resources' %}
      {% for link in site.data.navigation[page.lang].tech-resources %}
        <li class="ext_res"><a href="{{ link.url }}" target="_blank">{{ link.resource }} <i class="fa fa-external-link" title="External Link"></i></a></li>
      {% endfor %}
    {% endif %}

    {% if menu.heading == 'NuBot' %}
      {% for link in site.data.navigation[page.lang].nubot %}
        <li class="ext_res"><a href="{{ link.url }}" target="_blank">{{ link.resource }} <i class="fa fa-external-link" title="External Link"></i></a></li>
      {% endfor %}
    {% endif %}

    {% if menu.heading == 'Nu Web Services' %}
      {% for link in site.data.navigation[page.lang].webservices %}
        <li class="ext_res"><a href="{{ link.url }}" target="_blank">{{ link.resource }} <i class="fa fa-external-link" title="External Link"></i></a></li>
      {% endfor %}
    {% endif %}

    {% if menu.heading == 'Tools' %}
      {% for link in site.data.navigation[page.lang].tools %}
        <li class="ext_res"><a href="{{ link.url }}" target="_blank">{{ link.resource }} <i class="fa fa-external-link" title="External Link"></i></a></li>
      {% endfor %}
    {% endif %}

    {% if menu.heading == 'Connect' %}
      {% for link in site.data.navigation[page.lang].social-networks %}
        <li class="ext_res"><a href="{{ link.url }}" target="_blank">{{ link.resource }} <i class="fa fa-external-link" title="External Link"></i></a></li>
      {% endfor %}
    {% endif %}
  </ul>
  {% endfor %}


</section>
