{% capture location %}{{ page.url | remove_first:'/' | split:'/' | last | replace: '.html', '' }}{% endcapture %}
{% comment %}<script>console.log('location = {{location}}');// for debugging</script>{% endcomment %}
<section class="col nav_left_sidebar">
  <div class="chat_link"><a href="https://gitter.im/NuNetwork/documentation?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge" target="_blank"><img src="https://badges.gitter.im/Join%20Chat.svg"></a></div>
  {% for menu in site.data.navigation[page.lang].history-sidebar %}
  <h4>{{ menu.heading | upcase }}</h4>
  <ul>
    {% for doc in site.history %}
      {% capture current_doc %}{{ doc.filename | split: '.' | first }}{% endcapture %}
      {% if doc.nav_heading == menu.heading and current_doc == location %}
        <li class="current"><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
      {% elsif doc.nav_heading == menu.heading %}
        <li class=""><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
      {% endif %}
    {% endfor %}

    {% if menu.heading == 'Events of 2013' %}
      {% for link in site.data.navigation[page.lang].events2013 %}
        {% capture anchorlink %}{{ site.baseurl }}{{ page.url }}{{ link.url }}{% endcapture %}
        <li class=""><a href="{{ anchorlink | replace: 'history/','history' }}" class="" >{{ link.resource }}</a></li>
      {% endfor %}
    {% endif %}

    {% if menu.heading == 'Events of 2014' %}
      {% for link in site.data.navigation[page.lang].events2014 %}
        {% capture anchorlink %}{{ site.baseurl }}{{ page.url }}{{ link.url }}{% endcapture %}
        <li class=""><a href="{{ anchorlink | replace: 'history/','history' }}" class="" >{{ link.resource }}</a></li>
      {% endfor %}
    {% endif %}

    {% if menu.heading == 'Events of 2015' %}
      {% for link in site.data.navigation[page.lang].events2015 %}
        {% capture anchorlink %}{{ site.baseurl }}{{ page.url }}{{ link.url }}{% endcapture %}
        <li class=""><a href="{{ anchorlink | replace: 'history/','history' }}" class="" >{{ link.resource }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
  {% endfor %}


</section>
