<!DOCTYPE html>
<html lang="{{ page.lang }}">

  {% include head.html %}

  <body class="{{ page.lang }}{% if page.type == 'pages' %} page{% endif %}">

    {% include header.html %}

    <div class="row container page_content">

      {% include sidebar-left.html %}

			<section class="col body_wrapper">
				<header class="body_header">
          <h1>{{ page.title }}</h1>
          <span class="version_history_link">
            <a href="{{ site.historyurl }}/{{ page.filename }}" target="_blank">Revision History</a>
          </span>
					<hr>
				</header>

				<div class="body-content">
          {{ page.content | markdownify }}
				</div>

			</section>

    <!-- end #content -->
    </div>

    {% include footer.html %}

  </body>

</html>
